.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    width: 360px;
    margin: 32px auto 0;
}
@media screen and (max-width: 570px){
    .cover__subtitle {
        margin: 16px auto 0;
        width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
}